[submodule "lib/fast_obj"]
	path = lib/fast_obj
	url = git@github.com:thisistherk/fast_obj.git
[submodule "lib/SOIL2"]
	path = lib/SOIL2
	url = git@github.com:SpartanJ/SOIL2.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = git@github.com:recp/cglm.git
[submodule "lib/libpng"]
	path = lib/libpng
	url = git@github.com:glennrp/libpng.git
