[submodule "lib/fast_obj"]
	path = lib/fast_obj
	url = git@github.com:thisistherk/fast_obj.git
[submodule "lib/SOIL2"]
	path = lib/SOIL2
	url = git@github.com:SpartanJ/SOIL2.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = git@github.com:recp/cglm.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = git@github.com:jkuhlmann/cgltf.git
[submodule "lib/wren-cmake"]
	path = lib/wren-cmake
	url = git@github.com:d-dum/wren-cmake.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = git@github.com:freetype/freetype.git
